.git
.vscode
__pycache__
*.pyc
Datasets
data
*.zip
*.log
train.log
cuda_install.log
agent-transcripts
.cursor
raw_disease_datasets
raw_leaf_checker_datasets
bd_crop_disease
bd_leaf_disease
mobile/node_modules
mobile/android
mobile/www
